extends layout

block content
  nav
    a(href="/fruits/new")= "Create New Fruit"
  h1 Fruits Index Page
  p Welcome to #{title}

  ul
    each item, index in fruits
      if item.readyToEat
        - var ready = "ready to eat!"
      else
        - var ready = "not ready to eat!"
      li(key=index)
        <a href="/fruits/#{item._id}">#{item.name}</a> is #{item.color} and #{ready}

        

  
