extends layout

block content
    h2 #{title} Show Page
    h3= item.name 
    if item.readyToEat 
        - var ready = "it's ready to eat!"
    else 
        - var ready = "it is not ready to eat."
    p.
        The #{item.name} is #[em #{item.color}], and #{ready}

    