mixin form(button_name, target)
    form(action=route method="POST")
        div
            label Name:
            input(
                type="text"
                name="name"
            )
        div
            label Color: 
            input(
                type="text"
                name="color"
            )
        div
            label Is Ready to Eat?
            input(
                type="checkbox"
                name="readyToEat"
            )
        input(
            type="submit"
            value=`${button_name}`
        )